.profile-section {
    padding: 20px;
    background: linear-gradient(to bottom, #6a4a7d, #2D1E33); /* Light gray to lavender gradient */
    border-radius: 10px;
  }

  .profile-section:hover {
    box-shadow: 0 0 15px rgba(226, 160, 239, 0.5); /* Lavender glow effect on hover */
  }
  
  .profile-header {
    display: flex;
    align-items: center; /* Vertically center the image and username */
    justify-content: flex-start; /* Align items to the left */
    
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-right: 20px; /* Add spacing between the image and username */
  }
  
  .profile-username {
    font-size: 60px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: left;
  }

  .Basic-Stats {
    display: flex; /* Use Flexbox to align items in a row */
    text-align: center;
    gap: 100px; /* Add spacing between items */
    width: 100%;
  }
  
  .basic-stats-text {
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: bold;
    margin: 0;
    text-align: center;
  }