.profile-section {
    padding: 20px;
    background: linear-gradient(to bottom, #6a4a7d, #2D1E33); /* Light gray to lavender gradient */
    border-radius: 10px;
    
  }

  .profile-section:hover {
    box-shadow: 0 0 15px rgba(226, 160, 239, 0.5); /* Lavender glow effect on hover */
  }
  
  .profile-header {
    display: flex;
    align-items: center; /* Vertically center the image and username */
    justify-content: flex-start; /* Align items to the left */
    
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-right: 20px; /* Add spacing between the image and username */
  }
  
  .profile-username {
    font-size: 60px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: left;
  }

  .Basic-Stats {
    display: flex; /* Use Flexbox to align items in a row */
    text-align: center;
    gap: 100px; /* Add spacing between items */
    width: 100%;
  }
  
  .basic-stats-text {
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: bold;
    margin: 0;
    text-align: center;
  }

.everything {
    max-height: 400px; /* Keep within viewport */
    overflow-y: auto; /* Enable scrolling */
    scrollbar-color: #B200FF #2D1E33;
}

.everything::-webkit-scrollbar {
    width: 8px;
    display: block; /* Ensure it is visible */
}

.everything::-webkit-scrollbar-track {
    background: #2D1E33; 
    border-radius: 5px;
}

.everything::-webkit-scrollbar-thumb {
    background: #B200FF; 
    border-radius: 5px;
}

.playlist-section {
    flex: 1;
    background-color: #000000;
    padding: 0; /* Remove padding to allow full-width header */
    border-radius: 10px;
    margin-top: 20px;
    height: 400px;
    overflow: hidden; /* Prevents the header from being affected by padding */
    display: flex;
    flex-direction: column;
}

.playlist-header {
  background-color: #303030;
  height: 50px;
  padding: 3px 8px;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 20px;
  gap: 20px;
}

.playlist-list {
    max-height: 400px; 
    overflow-y: auto; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: grid;
    gap: 10px; 
    padding: 10px;
    border: 1px solid #180F1C; 
    border-radius: 5px; 
    background-color: #180F1C; 
}

.create-playlist-button {
  background-color: #000000;
  color: white;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: auto;
  height: 35px;
  padding: 3px 8px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-playlist-button:hover {
  background-color: #1F1426;
  box-shadow: 0 0 10px #B200FF;
}

.playlist-card {
  background: #303030;
  color: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: space-between; 
  height: 200px; 
}

.playlist-card:hover {
    transform: scale(1.05);
}

.playlist-image {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 10%; 
    margin-top: 5px; 
}

.playlist-name {
    
  font-size: 20px;
  text-align: center;
  margin: 10px 0 0px 0;
}

.playlist-list::-webkit-scrollbar {
    width: 8px; 
}

.playlist-list::-webkit-scrollbar-track {
    background: #2D1E33; 
    border-radius: 5px;
}

.playlist-list::-webkit-scrollbar-thumb {
    background: #B200FF; 
    border-radius: 5px;
}

.playlist-list::-webkit-scrollbar-thumb:hover {
    background: #B200FF; 
}

.playlist-list {
    scrollbar-color: #B200FF #2D1E33; 
    direction: rtl;
}

.albumProfile-section {
  flex: 1;
  background-color: #000000;
  padding: 0; /* Remove padding to allow full-width header */
  border-radius: 10px;
  margin-top: 20px;
  height: 400px;
  overflow: hidden; /* Prevents the header from being affected by padding */
  display: flex;
  flex-direction: column;
}

.albumProfile-header {
  background-color: #303030;
  height: 50px;
  padding: 3px 8px;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 20px;
  gap: 20px;
}

.albumProfile-list {
  max-height: 400px; 
  overflow-y: auto; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: grid;
  gap: 10px; 
  padding: 10px;
  border: 1px solid #180F1C; 
  border-radius: 5px; 
  background-color: #180F1C; 
}

.create-album-button {
  background-color: #000000;
  color: white;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: auto;
  height: 35px;
  padding: 3px 8px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-album-button:hover {
  background-color: #1F1426;
  box-shadow: 0 0 10px #B200FF;
}

.albumProfile-card {
  background: #000000;
  color: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: space-between; 
  height: 200px; 
  font-family: 'Montserrat';
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.albumProfile-card:hover {
  transform: scale(1.05);
}

.albumProfile-image {
  width: 125px; 
  height: 125px; 
  object-fit: cover;
  border-radius: 10%; 
  margin-top: 5px; 
}

.albumProfile-name {
  
  font-size: 20px;
  text-align: center;
}

.albumProfile-list::-webkit-scrollbar {
  width: 8px; 
}

.albumProfile-list::-webkit-scrollbar-track {
  background: #2D1E33; 
  border-radius: 5px;
}

.albumProfile-list::-webkit-scrollbar-thumb {
  background: #B200FF; 
  border-radius: 5px;
}

.albumProfile-list::-webkit-scrollbar-thumb:hover {
  background: #B200FF; 
}

.albumProfile-list {
  scrollbar-color: #B200FF #2D1E33; 
  direction: rtl;
}

.songProfile-section {
  flex: 1;
  background-color: #000000;
  padding: 0; /* Remove padding to allow full-width header */
  border-radius: 10px;
  margin-top: 20px;
  height: 400px;
  overflow: hidden; /* Prevents the header from being affected by padding */
  display: flex;
  flex-direction: column;
}

.songProfile-header {
  background-color: #303030;
  height: 40px;
  padding: 10px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  
  /* Make it take up the full width */
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: bold;
  gap: 10px;
  font-size: 24px;
}

.songProfile-list {
  max-height: 400px; 
  overflow-y: auto; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: grid;
  gap: 10px; 
  padding: 10px;
  border: 1px solid #180F1C; 
  border-radius: 5px; 
  background-color: #180F1C; 
}

.create-song-button {
  background-color: #000000;
color: white;
font-size: 20px;
font-family: 'Montserrat';
font-weight: bold;
border: none;
padding: 5px 10px;
cursor: pointer;
width: 200px;
height: 40px; /* Set a fixed height */
position: relative;
top: 50%; /* Move down by 50% of the parent's height */
transform: translateY(-50%); /* Adjust to center vertically */
padding: 0 10px; /* Add padding for content */
border-radius: 20px;
}

.create-song-button:hover {
background-color: #1F1426;
box-shadow: 0 0 15px #B200FF;
}

.songProfile-list {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between each song row */
  width: 100%;
  margin: 0 auto; /* Center the list */
}

/* TopSongCard container */
.songProfile-card {
  display: flex;
  align-items: center; /* Vertically center items */
  gap: 15px; /* Space between rank, image, name, and artist */
  padding: 10px;
  background-color: black;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth hover effect */
}

.songProfile-card:hover {
  transform: translateY(-2px); /* Slight lift on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}


/* Image styling */
.songProfile-image {
  width: 50px; /* Fixed width for image */
  height: 50px; /* Fixed height for image */
  border-radius: 8px; /* Rounded corners for image */
  object-fit: cover; /* Ensure the image covers the area */
}

/* Song name styling */
.songProfile-name {
  flex: 1; /* Take up remaining space */
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: bold;
}

/* Artist name styling */
.songProfile-album {
  font-size: 14px;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: bold;
}

.songProfile-list::-webkit-scrollbar {
  width: 8px; 
}

.songProfile-list::-webkit-scrollbar-track {
  background: #2D1E33; 
  border-radius: 5px;
}

.songProfile-list::-webkit-scrollbar-thumb {
  background: #B200FF; 
  border-radius: 5px;
}

.songProfile-list::-webkit-scrollbar-thumb:hover {
  background: #B200FF; 
}

.songProfile-list {
  scrollbar-color: #B200FF #2D1E33; 
  direction: rtl;
}