.song-list {
    max-height: 400px; 
    overflow-y: auto; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: grid;
    gap: 10px; 
    padding: 10px;
    border: 1px solid #180F1C; 
    border-radius: 5px; 
    background-color: #180F1C; 
}

.song-card {
    background: #303030;
    color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 
    height: 200px; 
}

.song-card:hover {
    transform: scale(1.05);
}

.song-image {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 10%; 
    margin-top: 5px; 
}

.song-name {
    font-size: 20px;
    text-align: center;
    margin: 10px 0 0px 0; /* Adjust margin for spacing */
}

.song-artist {
    font-size: 14px;
    margin: 0 0 10px 0; /* Adjust margin for spacing */
}

.bottom-section {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Space between like and play buttons */
    align-items: center; /* Vertically center the buttons */
}

.heart-image {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer; /* Show pointer cursor on hover */
    filter: brightness(0) invert(1); /* Make the heart icon white */
    transition: filter 0.3s ease; /* Smooth transition for hover effect */
}
.heart-image:active {
    transform: scale(1.2); /* Slightly enlarge the heart when clicked */
}

.heart-image.liked {
    filter: none; /* Reset filter to show the original color */
}

.play-button {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer; /* Show pointer cursor on hover */
}

.play-button:hover {
    transform: scale(1.05);
}
.heart-image:hover {
    transform: scale(1.05);
}

.forward-button {
    width: 30px;
    height: 30px;
    cursor: pointer; /* Show pointer cursor on hover */
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    padding: 0; /* Remove default button padding */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease; /* Smooth hover effect */
}

.forward-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.forward-icon {
    width: 100%; /* Make the icon fill the button */
    height: 100%; /* Make the icon fill the button */
    object-fit: contain; /* Ensure the icon fits within the button */
    filter: brightness(0) invert(1); /* Make the icon white */
    transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

.forward-button:hover .forward-icon {
    filter: brightness(1) invert(0); /* Change icon color on hover */
}

song-list::-webkit-scrollbar {
    width: 8px; 
}

.song-list::-webkit-scrollbar-track {
    background: #2D1E33; 
    border-radius: 5px;
}

.song-list::-webkit-scrollbar-thumb {
    background: #B200FF; 
    border-radius: 5px;
}

.song-list::-webkit-scrollbar-thumb:hover {
    background: #B200FF; 
}

.song-list {
    scrollbar-color: #B200FF #2D1E33; 
}
.artist-list {
    max-height: 400px; 
    overflow-y: auto; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: grid;
    gap: 10px; 
    padding: 10px;
    border: 1px solid #180F1C; 
    border-radius: 5px; 
    background-color: #180F1C; 
}

.artist-card {
    background: #303030;
    color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 
    height: 200px; 
}

.artist-card:hover {
    transform: scale(1.05);
}

.artist-image {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 10%; 
    margin-top: 5px; 
}

.artist-name {
    font-size: 20px;
    text-align: center;
    margin: 10px 0 0px 0; /* Adjust margin for spacing */
}

artist-list::-webkit-scrollbar {
    width: 8px; 
}

.artist-list::-webkit-scrollbar-track {
    background: #2D1E33; 
    border-radius: 5px;
}

.artist-list::-webkit-scrollbar-thumb {
    background: #B200FF; 
    border-radius: 5px;
}

.artist-list::-webkit-scrollbar-thumb:hover {
    background: #B200FF; 
}

.artist-list {
    scrollbar-color: #B200FF #2D1E33; 
}

.album-list {
    max-height: 400px; 
    overflow-y: auto; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: grid;
    gap: 10px; 
    padding: 10px;
    border: 1px solid #180F1C; 
    border-radius: 5px; 
    background-color: #180F1C; 
}

.album-card {
    background: #303030;
    color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 
    height: 200px; 
}

.album-card:hover {
    transform: scale(1.05);
}

.album-image {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 10%; 
    margin-top: 5px; 
}

.album-name {
    font-size: 20px;
    text-align: center;
    margin: 10px 0 0px 0; /* Adjust margin for spacing */
}

.album-artist {
    font-size: 14px;
    margin: 0 0 10px 0; /* Adjust margin for spacing */
}

album-list::-webkit-scrollbar {
    width: 8px; 
}

.album-list::-webkit-scrollbar-track {
    background: #2D1E33; 
    border-radius: 5px;
}

.album-list::-webkit-scrollbar-thumb {
    background: #B200FF; 
    border-radius: 5px;
}

.album-list::-webkit-scrollbar-thumb:hover {
    background: #B200FF; 
}

.album-list {
    scrollbar-color: #B200FF #2D1E33; 
}

.user-list {
    max-height: 400px; 
    overflow-y: auto; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: grid;
    gap: 10px; 
    padding: 10px;
    border: 1px solid #180F1C; 
    border-radius: 5px; 
    background-color: #180F1C; 
}

.user-card {
    background: #303030;
    color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 
    height: 200px; 
    font-family: 'Montserrat';
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.user-card:hover {
    transform: scale(1.05);
}

.user-image {
    width: 125px; 
    height: 125px; 
    object-fit: cover;
    border-radius: 10%; 
    margin-top: 5px; 
}

.user-name {
    
    font-size: 20px;
    text-align: center;
}

.user-list::-webkit-scrollbar {
    width: 8px; 
}

.user-list::-webkit-scrollbar-track {
    background: #2D1E33; 
    border-radius: 5px;
}

.user-list::-webkit-scrollbar-thumb {
    background: #B200FF; 
    border-radius: 5px;
}

.user-list::-webkit-scrollbar-thumb:hover {
    background: #B200FF; 
}

.user-list {
    scrollbar-color: #B200FF #2D1E33; 
}


